.profileContainer{
    height: 90vh;
    margin-top: 20px;
    width: 95%;
    position: relative;
}
.profileHeader{
    background-color: #F6F6F6;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.headerText{
    color: var(--primary_color);
}
.studentDetails{
    width: 100%;
}
.imageContainer{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 80px;
    left: 50px;
}
.image{
    height: 100%;
    width: 100%;
    border-radius: 100%;
}
.studentDetails{
    margin-top: 80px;
    
}
.names, .otherDetails, .facultyDetails, .otherfacultyDetails{
    display: flex;
    
    
    justify-content: space-between;   
}
label{
    display: block;
    margin-bottom: 5px;
}
.nameHolder, .otherDetailsHolder, .facultyDetailsHolder, .otherfacultyDetailsHolder{
    width: 48%;
    /* background-color: blue; */
    margin-bottom: 10px;
}
.profileInput{
    width: 100%;
    outline: none;
    height: 35px;
    padding: 0;
}

.profileBtn{
    width: 48%;
    background-color: #F18D16;
    outline: none;
    border: none;
    height: 3rem;
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
}