.StudentForm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh
}

.signInForm{
    background-color: var(--primary_color);
    margin: auto;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%
}
.signInFormContainer{
    width: 90%;   
}
.signInFormInput{
    display: block;
    width: 80%;
    height: 40px;
    margin: auto;
    margin-bottom: 10px;
    outline: none;
    padding-left: 5px;
}
.signInBtn{
    display: block;
    width: 84%;
    height: 40px;
    margin: auto;
    margin-bottom: 10px;
    outline: none;
    cursor: pointer;
}